@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.wrap {
    margin: 1rem auto;
    background-color: white;
    max-width: 800px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 3.25rem;
    background-color: rgb(241, 241, 241);
    border-bottom: 6px solid orange;
}

ul {
    list-style-type: none;
}

header > ul > li {
    font-size: 12px;
    line-height: 2;
}

.resume {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.itemTitle {
    flex: 1;
    margin-right: 2rem;
    font-weight: 700;
    font-style: italic;
}

.description {
    flex: 3;
    line-height: 1.6; 
    padding-bottom: 1rem;
}

.resume > .item {
    display: flex;
    padding: 2rem 0;
}

.advanced {
    flex: 3;
    flex-direction: column;
}

.subTitle {
    padding-bottom: 0.5rem;
    font-weight: 700;
    display: block;

}

.skills {
    display: flex;              
    flex-wrap: wrap;            
}

.skills li {
    flex: 0 0 33.33%;          
    box-sizing: border-box;    
    padding: 0.5rem;  
    line-height: normal;         
}